# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
xWin/xWin/[Dd]ebug/
xWin/xWin/[Dd]ebugPublic/
xWin/xWin/[Rr]elease/
xWin/xWin/[Rr]eleases/
xWin/xWin/x64/
xWin/xWin/x86/
xWin/xWin/bld/
xWin/xWin/[Bb]in/
xWin/xWin/[Oo]bj/
xWin/xWin/[Ll]og/
proto/test/test/[Bb]in/
proto/test/test/[Oo]bj/
xWin/packages/

# .NET Core
xWin/xWin/project.lock.json
xWin/xWin/project.fragment.lock.json
xWin/xWin/artifacts/
**/Properties/launchSettings.json
xWin/xWin/.DS_Store
xWin/xWin/packages.config

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# MSTest test Results
xWin/xWin/[Tt]est[Rr]esult*/
xWin/xWin/[Bb]uild[Ll]og.*
xWin/xWin/[Bb]uild[Ll]og.*

# NUNIT
xWin/xWin/*.VisualState.xml
xWin/Test/MSTest/bin/
xWin/Test/MSTest/obj/

# Cucumber
xWin/Test/Cucumber/bin/
xWin/Test/Cucumber/obj/

# Visual C++ cache files
xWin/xWin/ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb